{% extends "admin/layout.html" %}

{% block content %}

<h2>Images</h2>

<table>
  <tr>
    <th>ID</th>
    <th>PREVIEW</th>
    <th>Path</th>
    <th>Active</th>
    <th>Action</th>
  </tr>

  {% for img in images %}
  <tr>
    <td>{{ img.id }}</td>
    <td>
      <img src="{{ img.url }}" alt="" width="120">
    </td>
    <td>{{ img.public_id }}</td>
    <td>{{ img.status }}</td>
    <td>
      <a href="/admin/images/{{ img.id }}/toggle">
        {{ "Deactivate" if img.status else "Active" }}
      </a>
    </td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
